<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_import_bunch_save_after">
        <observer name="forix_product_import_after" instance="Forix\CatalogImportExport\Observer\ProductImportAfter" />
    </event>
</config>
