<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Lkg_StockSync::history"
            title="Cron History"
            module="Lkg_Base"
            sortOrder="30"
            parent="Lkg_InvoiceSync::view"
            action="lkg/history/index"
            resource="Lkg_InvoiceSync::invoicesync"
        />
    </menu>
</config>
